.App {
  text-align: center;
  margin-top: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttons {
  margin-left: 700px;
  margin-right: 700px;
  background: darkgrey;
  color: dimgrey;
}

.error {
  color: red;
  height: 21px;
  margin-left: 10px;
}

.button {

}

.button:focus {
  outline: lightgreen;
}

.button:active {
  background: aquamarine;
}

button:disabled {
  color: darkgreen;
}