.buttonsMain {
    margin:100px;
    background-color: gray;
    border: 2px darkgreen solid;
    border-radius: 25px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.message {
    margin-top: 21px;
    display: flex;
    justify-content: center;
}

.red {
    color: red;
    display: flex;
    justify-content: center;
}


.result {
    color: blue;
    font-size: 40px;
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}